body {
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
	font-family: sans-serif;
    display: flex;
    flex-direction: column;

}

a {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: .5px solid black;
}

nav ul {
    list-style: none;
    display: flex;
}

nav > a {
    font-size: 24px;
}

nav ul > li {
    margin: 0 10px;
    font-size: 16px;
}

#container {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#favicon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
}